<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
			<section name="nhibernate" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		</configSections>
		<nhibernate>
			<logging>
				<log4net>
					<level value="DEBUG" />
					<logger name="NHibernate" additivity="false">
						<appender-ref ref="ConsoleAppender" />
					</logger>
				</log4net>
			</logging>
		</nhibernate>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>